.header {
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 94px;
  height: 26px;
  padding: 10px 80px;
  justify-content: space-between;
}

@media screen and (max-width: 288px) {
  .header {
    width: 288px;
    height: 318px;
    gap: 12px;
  }
}
